#header {
  min-height: 70px;
  display: block;
  background-color: rgba(14, 213, 248, 0.685);
  text-align: center;
  margin: auto;
  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


#container  {
  background-color: rgba(14, 107, 248, 0.685);
  min-height: 100vh;
  display: flex;
  justify-content: space-around
  
  
}

#editor {
  background-color:rgba(202, 227, 243, 0.822);
  border-radius: 10px;
  box-shadow: 7px 7px 30px;
  padding: 10px 10px 10px 15px;
  flex: 1;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 300px;
  min-width: 300px;
  max-width: 550px

  
}

#preview {
  background-color:rgba(202, 227, 243, 0.822);
  border-radius: 10px;
  box-shadow: 7px 7px 30px;
  padding: 10px 10px 10px 15px;
  flex: 1;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 550px;
  min-width: 300px;

  
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

pre {
  max-width: 100%;
  background: white;
  overflow: auto;
}

#clearButton {
  font-size: 20px;
}

@media (max-width: 800px) {
  #container {
    flex-direction: column;
  }
  #preview {
    max-width: 700px
  }

  #editor {
    max-width: 100vw
  }

}
